.backround{
    background-color: gray;
    
}

.middle{
    width: 450px;
    padding-left:40%;
    padding-right:40%;
    background-color:white;
}
 
.img1{
    width:50px;
    height: 50px;
}

.img2{
    width:450px;
    height: 150px;
    object-fit: cover;
}

.heading{
    margin-top:20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size: 40px;
}

.heading2{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size: 35px;
}

.line1{
    color: rgb(145, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
}

.line2{
    color: rgb(145, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
}

.start-watch{
    width:450px;
    margin-left:-2px;
    
    background-color:rgb(203, 34, 34);
    border-radius: 6px;
    padding:12px;
    border-style: none;
    font-size: 15px;

}

.account-infomation{
    font-size:25px;
    color:gray;
    font-family:Arial, Helvetica, sans-serif
}

.email{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -3px;
}

.email-info{
    margin-top:-2px;
    font-family: Arial, Helvetica, sans-serif;
}




.service{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -3px;
}

.service2{
    margin-top:-2px;
    font-family: Arial, Helvetica, sans-serif;
}


.plan{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -3px;
}

.premium{
    margin-top:-2px;
    font-family: Arial, Helvetica, sans-serif;
}




.plan-price{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -3px;
}

.price{
    margin-top:-2px;
    font-family: Arial, Helvetica, sans-serif;
}


.payment{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -3px;
}

.card-info{
    margin-top:-2px;
    font-family: Arial, Helvetica, sans-serif;
}

.help-center{
    font-family: Arial, Helvetica, sans-serif;
}

.last{
    font-family: Arial, Helvetica, sans-serif;
}

.lines{
    color:rgb(203, 34, 34);
    font-weight: bold;
}

.button2{
    background-color: white;
    color: rgb(187, 25, 25);
    font-weight: bold;
    width:450px;
    margin-left:-2px;
    border:none;
    border-radius: 6px;
    padding:6px;
    font-size: 15px;
    padding-top:20px;
}

.closing{
    padding-top:20px;
    padding-bottom:10px;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}